q, blockquote {
  background: rgba(245, 153, 61, 0.87);
  color: darkslateblue;
}
.date{
    color: darkslateblue;
}
em.date {
  color: darkslateblue;
}
p.date {
    text-align: center;
}
p {
    text-indent: 1.5em;
    }
body {
    background-image: url("backgroundImage.jpg");
    background-repeat: repeat-x;
    background-position: right top;
    text-align: center;
}

body {
    background-color: lightblue;
}

h1, h2, h3, h4, h5 {
    text-align: center;
}
div {
    background-color: lightblue;
}

/*p {
    background-color: #f8f89f;
}
h1 {
    background-color: green;
}

/* header{
    background-image: url("backgroundImage.jpg");
}
footer{
    background-image: url("backgroundImage.jpg");
} /