*{
    margin: 0;
    padding: 0;
}
.main{
    display: block;
}
.main-header{
    background-color: #fff;
    /*    font-size: 0;*/
    vertical-align: top;
    text-align: center;
}
.header-banner{
    background-color: #fff;
    text-align: center;
    height: 30px;
}
.menu-top{
    text-transform: uppercase;
    text-align: center;
    background-color: #fff;
}
.top-header-menu-list{
    height: 30px;
    text-transform: uppercase;
    text-align: center;
}
.top-header-menu-item{
    color: #888;
    display: inline-block;
    text-transform: uppercase;
    position: relative;
    padding: 0 8px;
}
.bottom-header-menu-list{
    height: 30px;
}
.bottom-header-menu-item{
    color: #1a1a1a;
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
}
.top-content{
    background-color: #fff;
    height: 72px;
    border-top: #e3e3e3 1px solid;
    border-bottom: #e3e3e3 1px solid;
    padding-bottom: 8px;
}
.top-left{
    width: 33%;
    height: 72px;
    background-color: #fff;
    float: left;
    text-align: right;
}
.top-center{
    width: 34%;
    height: 72px;
    background-color: #fff;
    float: left;
    text-transform: uppercase;
    background: url(UKR.PNG);
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
}
.top-right{
    width: 33%;
    height: 72px;
    background-color: #fff;
    float: left;
    text-align: left;
}
.red-line{
    background: #900022;
    height: 5px;
}
.center-content
{
    background-color: #fff;
}
.left{
    width: 33%;
    height: 600px;
    background-color: #fff;
    float: left;
    text-align: right;
}
.center{
    width: 34%;
    height: 600px;
    background-color: #fff;
    float: left;
}
.right{
    width: 33%;
    height: 600px;
    background-color: #fff;
    float: left;
    text-align: left;
}
.top-news{
    background-color: #333;
    height: 90px;
}
.top-news-left{
    width: 33%;
    height: 72px;
    background-color: #333;
    float: left;
    text-transform: uppercase;
    color: #fff;
    text-align: right;
}
.top-news-center{
    width: 34%;
    height: 72px;
    background-color: #333;
    float: left;
    text-transform: uppercase;
    color: #fff;
}
.top-news-right{
    width: 33%;
    height: 72px;
    background-color: #333;
    float: left;
    text-transform: uppercase;
    color: #fff;
    text-align: left;
}
.clear-fix::after, .clear-fix::before{
    content: "";
    /*    display: block;*/
    clear: both;
}
/*
.main-header>div{
width: 25%;
height: 70px;
padding: 20px 0;
border: 2px solid black;
box-sizing: border-box;
display: inline-block;
text-align: center;
}
*/
.fix{
    margin-left: -0.25em;

}
/*
.footer{
height: 70px;
background-color: #ff006c;
}*/
